<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>ryantk blog</h1>
      </header>

      <%= yield %>

    </div>
  </body>
</html>